version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: banking_system_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: banking_system
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: